{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CRM - Amar Bio-Organics India Private Limited</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- adminpro icon CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'assets/css/adminpro-custon-icon.css' %}">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'assets/css/jquery.mCustomScrollbar.min.css' %}">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
    <!-- modal CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'assets/css/modals.css' %}">
    <!-- data-table CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'assets/css/data-table/bootstrap-table.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/data-table/bootstrap-editable.css' %}">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
    <!-- charts C3 CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'assets/css/c3.min.css' %}">
    <!-- forms CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'assets/css/form/all-type-forms.css' %}">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'assets/style.css' %}">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    <!-- modernizr JS
        ============================================ -->
    <!-- charts CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'assets/css/charts.css' %}">

    <script src="{% static 'assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>

    <link href="{% static 'assets/css/styles-rad.css' %}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- <script type="text/javascript" src="{% static 'channels/js/websocketbridge.js' %}"></script -->

    <style>
        #rad-chart {
            max-width: 650px;
            margin: 35px auto;
        }
    </style>
    <style>
        #chart {
            max-width: 90%;
            margin: 35px auto;
        }
        
        .toolbar {
            margin-left: 45px;
        }
        
        button {
            background: #fff;
            color: #222;
            border: 1px solid #e7e7e7;
            border-bottom: 2px solid #ddd;
            border-radius: 2px;
            padding: 4px 17px;
        }
        
        button.active {
            color: #fff;
            background: #008FFB;
            border: 1px solid blue;
            border-bottom: 2px solid blue;
        }
        
        button:focus {
            outline: 0;
        }
    </style>
</head>

<body class="materialdesign">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- Header top area start-->
    <div class="wrapper-pro">
        <div class="left-sidebar-pro">
            <nav id="sidebar">
                <div class="sidebar-header">
                    <!-- <a href="#"><img src="{% static 'assets/img/a.jpg' %}" alt="" />
                    </a> -->
                    <h3>Mr. {{ user.first_name }}</h3>
                    <p>{{ profile.designation }}</p>
                    <strong>CRM</strong>
                </div>
                <div class="left-custom-menu-adp-wrap">
                    <ul class="nav navbar-nav left-sidebar-menu-pro d-flex ml-auto">
                        <li class="nav-item"><a href="/dash-test" class="nav-link dropdown-toggle"><i class="fa big-icon fa-chart-line" aria-hidden="true"></i> <span class="mini-dn">Dashboard</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>
                        </li>
                        <li class="nav-item"><a href="/order/confirmation" class="nav-link dropdown-toggle"><i class="fa big-icon  fa-cart-plus"></i> <span class="mini-dn">Pending Order</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>
                        </li>
                        <li class="nav-item"><a href="/feedback/list" class="nav-link dropdown-toggle"><i class="fa big-icon fa-bullhorn"></i> <span class="mini-dn">Samples Feedback</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>
                        </li>
                        <li class="nav-item"><a href="/sales/persons" class="nav-link dropdown-toggle"><i class="fa big-icon fa-venus-mars"></i> <span class="mini-dn">Sales Members</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>
                        </li>
                        <li class="nav-item"><a href="/contact/admin" class="nav-link dropdown-toggle"><i class="fa big-icon fa-user-circle" aria-hidden="true"></i> <span class="mini-dn">Contacts</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>
                        </li>
                        <li class="nav-item"><a href="/customer/admin" class="nav-link dropdown-toggle"><i class="fa big-icon fa fa-sitemap" aria-hidden="true"></i> <span class="mini-dn">Customers</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>
                        </li>
                        <li class="nav-item"><a href="/opportunity/admin" class="nav-link dropdown-toggle"><i class="fa big-icon fa-plane-departure" aria-hidden="true"></i> <span class="mini-dn">Customer Orders</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>
                        </li>
                        <li class="nav-item"><a href="/case/admin" class="nav-link dropdown-toggle"><i class="fa big-icon fa-table"></i> <span class="mini-dn">Cases</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>
                        </li>
                        <li class="nav-item"><a href="/document/admin" class="nav-link dropdown-toggle"><i class="fa big-icon fa-edit"></i> <span class="mini-dn">Documents</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>
                        </li>
                        <li class="nav-item"><a href="/payment/admin" class="nav-link dropdown-toggle"><i class="fa big-icon fa-money-bill-alt"></i> <span class="mini-dn">Payment Tracking</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
        <div class="content-inner-all">
            <div class="header-top-area">
                <div class="fixed-header-top">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-1 col-md-6 col-sm-6 col-xs-12">
                                <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                        <i class="fa fa-bars"></i>
                                    </button>
                            </div>
                            <div class="col-lg-6 col-md-1 col-sm-1 col-xs-12">
                                <div class="header-top-menu tabl-d-n">
                                    <ul class="nav navbar-nav mai-top-nav">

                                        <li class="nav-item">
                                            <a href="#" class="nav-link"></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"></a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a href="#" data-toggle="" role="button" aria-expanded="false" class="nav-link dropdown-toggle"></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <div allign="right">
                                    <div class="header-right-info pull-right">
                                        <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                            <li class="nav-item dropdown">
                                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span class="adminpro-icon adminpro-chat-pro"></span><span class="indicator-ms"></span></a>
                                                <div role="menu" class="author-message-top dropdown-menu animated flipInX">
                                                    <div class="message-single-top">
                                                        <h1>Message</h1>
                                                    </div>
                                                    <ul class="message-menu">
                                                        <li>
                                                            <a href="#">
                                                                <div class="message-img">
                                                                    <img src="{% static 'assets/img/message/1.jpg' %}" alt="">
                                                                </div>
                                                                <div class="message-content">
                                                                    <span class="message-date">16 Sept</span>
                                                                    <h2>{{ user1.first_name }} {{ user1.last_name }}</h2>
                                                                    <p>Please do this project as soon possible.</p>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <div class="message-img">
                                                                    <img src="{% static 'assets/img/message/4.jpg' %}" alt="">
                                                                </div>
                                                                <div class="message-content">
                                                                    <span class="message-date">16 Sept</span>
                                                                    <h2>Sulaiman din</h2>
                                                                    <p>Please done this project as soon possible.</p>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <div class="message-img">
                                                                    <img src="{% static 'assets/img/message/3.jpg' %}" alt="">
                                                                </div>
                                                                <div class="message-content">
                                                                    <span class="message-date">16 Sept</span>
                                                                    <h2>Victor Jara</h2>
                                                                    <p>Please done this project as soon possible.</p>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <div class="message-img">
                                                                    <img src="{% static 'assets/img/message/2.jpg' %}" alt="">
                                                                </div>
                                                                <div class="message-content">
                                                                    <span class="message-date">16 Sept</span>
                                                                    <h2>Victor Jara</h2>
                                                                    <p>Please done this project as soon possible.</p>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                    <span class="adminpro-icon adminpro-user-rounded header-riht-inf"></span>
                                                    <span class="admin-name">{{ user.first_name }} {{ user.last_name }}</span>
                                                    <span class="author-project-icon adminpro-icon adminpro-down-arrow"></span>
                                                </a>
                                                <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated flipInX">
                                                    <li><a href="/dash-test"><span class="adminpro-icon adminpro-home-admin author-log-ic"></span>My Account</a>
                                                    </li>
                                                    <!-- <li><a href="/sales/profile"><span class="adminpro-icon adminpro-user-rounded author-log-ic"></span>My Profile</a>
                                                    </li> -->
                                                    <li><a href="/opportunity/admin"><span class="adminpro-icon adminpro-money author-log-ic"></span>Total Order</a>
                                                    </li>
                                                    <!-- <li><a href="#"><span class="adminpro-icon adminpro-settings author-log-ic"></span>Settings</a> -->
                                            </li>
                                            <li><a href="/log_out"><span class="adminpro-icon adminpro-locked author-log-ic"></span>Log Out</a>
                                            </li>
                                            </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mobile Menu start -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul class="mobile-menu-nav">
                                        <li><a href="/dash-test">Dashboard <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        </li>
                                        <li><a href="/pending/orders">Pending Orders <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        </li>
                                        <li><a href="/feedback/list">Samples Feedback<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        </li>
                                        <li><a href="/sales/persons">Sales Member<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        </li>
                                        <li><a href="customer/admin">Customers<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        </li>
                                        <li><a href="/contact/admin">Contacts<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        </li>
                                        <li><a href="/opportunity/admin">Customer Orders<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        </li>
                                        <li><a href="/case/admin">Cases<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        </li>
                                        <li><a href="/document/admin">Documents<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu end -->

            {% block content %} {% endblock %}
            <!-- stockprice, feed area end-->
        </div>
    </div>
    <div class="footer-copyright-area">
        <div class="container-fluid">
            <footer>
                <div class-="row">
                    <div class="col-lg-8">
                        <div class="container pull-left">
                            <p>© Copyright 2019. <a href="http://www.amarorganics.com/">Amar Bio-Organics</a> India Private Limited</p>
                        </div>
                    </div><br>
                    <div class="col-lg-4">
                        <p class="pull-right">Powered By: <a href="http://www.icetsolutions.com" style="color: red">ICET IT Solutions</a></p>
                    </div>
            </footer>
            </div>
        </div>
        <!-- Footer End-->
    </div>
    <!-- jquery
        ============================================ -->
    <script src="{% static 'assets/js/vendor/jquery-1.11.3.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@latest"></script>
    <script src="{% static 'assets/js/chart-pie.js' %}"></script>
    <script src="{% static 'js/task.js' %}"></script>
    <script src="{% static 'js/meeting.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/area-apex.js' %}"></script>
    <script src="{% static 'js/target.js' %}"></script>
    <script src="{% static 'assets/js/charts/donut-chart.js' %}"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="{% static 'assets/js/jquery.meanmenu.js' %}"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="{% static 'assets/js/jquery.scrollUp.min.js' %}"></script>
    <!-- counterup JS
        ============================================ -->
    <script src="{% static 'assets/js/counterup/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/counterup/waypoints.min.js' %}"></script>
    <!-- rounded-counter JS
        ============================================ -->
    <script src="{% static 'assets/js/rounded-counter/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/rounded-counter/jquery.knob.js' %}"></script>
    <script src="{% static 'assets/js/rounded-counter/jquery.appear.js' %}"></script>
    <script src="{% static 'assets/js/rounded-counter/knob-active.js' %}"></script>
    <!-- peity JS
        ============================================ -->
    <script src="{% static 'assets/js/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'assets/js/peity/peity-active.js' %}"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="{% static 'assets/js/sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'assets/js/sparkline/sparkline-active.js' %}"></script>
    <!-- flot JS
        ============================================ -->
    <!-- <script src="{% static 'assets/js/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'assets/js/flot/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'assets/js/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'assets/js/flot/widget-flot-chart-active.js' %}"></script> -->
    <!--  editable JS
        ============================================ -->
    <script src="{% static 'assets/js/jquery.mockjax.js' %}"></script>
    <script src="{% static 'assets/js/mock-active.js' %}"></script>
    <script src="{% static 'assets/js/select2.js' %}"></script>
    <script src="{% static 'assets/js/moment.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-editable.js' %}"></script>
    <script src="{% static 'assets/js/xediable-active.js' %}"></script>

    <!-- data table JS
            ============================================ -->
    <script src="{% static 'assets/js/data-table/bootstrap-table.js' %}"></script>
    <script src="{% static 'assets/js/data-table/tableExport.js' %}"></script>
    <script src="{% static 'assets/js/data-table/data-table-active.js' %}"></script>
    <script src="{% static 'assets/js/data-table/bootstrap-table-editable.js' %}"></script>
    <script src="{% static 'assets/js/data-table/bootstrap-editable.js' %}"></script>
    <script src="{% static 'assets/js/data-table/bootstrap-table-resizable.js' %}"></script>
    <script src="{% static 'assets/js/data-table/colResizable-1.5.source.js' %}"></script>
    <script src="{% static 'assets/js/data-table/bootstrap-table-export.js' %}"></script>

    <!-- main JS
        ============================================ -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'channels/js/websocketbridge.js' %}" type="text/javascript"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const webSocketBridge = new channels.WebSocketBridge();

            // webSocketBridge.connect('/ws/')
            //          webSocketBridge.listen(function(action, stream){
            //              console.log("RESPONSE:", action)
            //          })
            //           console.log("Hello")
            // const nl = document.querySelector('#p1');
            // webSocketBridge.connect('/notifications/');
            // console.log(webSocketBridge.connect('/notifications/'))
            webSocketBridge.connect('/notifications/')
            webSocketBridge.listen(function(action, stream) {
                console.log("RESPONSE:", action)
                if (action.event = "New Case") {
                    // var el = document.createElement("li");
                    // el.innerHTML = 'New case <b>${action.sales_person}</b>';
                    // nl.appendChild(el);

                    alert('New case ' + action.sales_person);
                }
            })
            document.ws = webSocketBridge;
        })
    </script>