{% extends 'base.html' %} 
 {% load staticfiles %}
 {% load widget_tweaks %}
 {% block content %}
 <link rel="stylesheet" href="{% static 'assets/css/select2/select2.min.css' %}">
            <!-- Mobile Menu end -->
            <!-- Breadcome start-->
<div class="breadcome-area mg-b-30 small-dn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right">
                            <ul class="breadcome-menu">
                                <li>Leads <span class="bread-slash">/</span>
                                </li>
                                <li><span class="bread-blod">Edit Leads</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcome End-->
<!-- Mobile Menu start -->

<!-- Mobile Menu end -->
<!-- Breadcome start-->
<div class="breadcome-area des-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
                            <ul class="breadcome-menu">
                                <li><a href="leads.html">Leads</a> <span class="bread-slash">/</span>
                                </li>
                                <li><span class="bread-blod">Edit Leads</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcome End-->
<!-- Basic Form Start -->
<div class="basic-form-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline12-list shadow-reset mg-t-30">
                    <div class="sparkline12-hd">
                        <div class="main-sparkline12-hd">
                            <h1>Edit Leads</h1>
                            <div class="sparkline12-outline-icon">
                                <span class="sparkline12-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                <!-- <span><i class="fa fa-wrench"></i></span> -->
                                <!-- <span class="sparkline12-collapse-close"><i class="fa fa-times"></i></span> -->
                            </div>
                        </div>
                    </div>
                    <div class="sparkline12-graph">
                        <div class="basic-login-form-ad">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="all-form-element-inner">
                                        <form method="POST">
                                            {% csrf_token %}
                                            <div class="form-group-inner">
                                                <div class="row">
                                                   
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                                        <label class="">Lead Name</label>
                                                        <!-- <input type="phone" value="{{ lead.phone }}" name="phone" class="form-control" /> -->
                                                        {{ form.lead_name|add_class:"form-control"}}

                                                        
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                                        <div class="filter_col col-12">
                                                            <div class="form-group">
                                                                <label class="">Email Address</label>
                                                                {{ form.email|add_class:"form-control"}}
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                            <input type="hidden" value="{{ lead.lead_id }}" name="contacts" class="form-control" />
                                                        <div class="filter_col col-12">
                                                            <div class="form-group"> 
                                                                <label for="id_sattus">Status</label>
                                                                {{ form.status|add_class:"form-control"}}
                                                                <span class="error"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>

                                                    <!-- <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                        <label class="">Tag</label>
                                                        <rbl-tag-input id="tagElement"></rbl-tag-input>
                                                    </div> -->
                                                </div>
                                            </div>
                                           
                                                    <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                                        <label class="">Phone</label>
                                                        <!-- <input type="phone" value="{{ lead.phone }}" name="phone" class="form-control" /> -->
                                                        {{ form.phone|add_class:"form-control"}}

                                                        
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                                        <label class="">Website</label>
                                                        <!-- <input type="phone" value="{{ lead.phone }}" name="phone" class="form-control" /> -->
                                                        {{ form.website|add_class:"form-control"}}

                                                        
                                                    </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                                <label class="">Description</label>
                                                                <textarea name="description" rows="3" cols="30" class="form-control">{{ lead.description }}
                                                                    </textarea>
                                                                
                                                                
                                                            </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="login-btn-inner">
                                                    <div class="column">
                                                        <div class="col-lg-3"></div>
                                                        <div class="col-lg-9">
                                                            <div class="login-horizental cancel-wp pull-right">
                                                                <a href="/lead/list"><button class="btn btn-warning" type="button">Go Back</button></a>
                                                                <button class="btn btn-white" type="button">Cancel</button>
                                                                <button class="btn btn-sm btn-primary login-submit-cs" id="update_lead" type="submit">Save Change</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
     

{% endblock %}