 {% extends 'base2.html' %} {% load staticfiles %} {% load widget_tweaks %} {% block content %}

<!-- Header top area end-->
<!-- Breadcome start-->
<div class="breadcome-area mg-b-30 small-dn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right">
                            <ul class="breadcome-menu">
                                <li><a href="dash-test.html">Dashboard</a> <span class="bread-slash">/</span>
                                </li>
                                <li><span class="bread-blod">Feedbacks</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcome End-->
<!-- Mobile Menu start -->
<!-- Mobile Menu end -->
<!-- Breadcome start-->
<div class="breadcome-area des-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
                            <ul class="breadcome-menu">
                                <li><a href="/dash-test">Dashboard</a> <span class="bread-slash">/</span>
                                </li>
                                <li><span class="bread-blod">Feedbacks</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcome End-->
<!-- accordion start-->
<div class="adminpro-accordion-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="admin-pro-accordion-wrap mg-b-15 shadow-reset">
                    <div class="alert-title"><br>
                        <h1>&nbspFeedbacks:</h1>


                    </div>
                    <br>
                    <div class="panel-group adminpro-custon-design" id="accordion">

                        <div id="collapse1" class="panel-collapse panel-ic collapse in">
                            <div class="panel-body admin-panel-content animated bounce">
                                <!-- Leads table area Start-->
                                <div class="admin-dashone-data-table-area">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="sparkline8-list shadow-reset">
                                                    <div class="sparkline8-hd">
                                                        <div class="main-sparkline8-hd">
                                                            <h1>Feedback <span class="table-project-n">Data</span> Table</h1>
                                                        </div>
                                                    </div>
                                                    <div class="sparkline8-graph">
                                                        <div class="datatable-dashv1-list custom-datatable-overright">
                                                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                                                data-cookie-id-table="saveId" data-show-export="false   " data-click-to-select="true" data-toolbar="#toolbar">
                                                                <thead>
                                                                    <tr>
                                                                        <th >Sl. No.</th>
                                                                        <th >Customer Name</th>
                                                                        <th >Email</th>
                                                                        <th>Contact</th>
                                                                        <th >Sample Letter No.</th>
                                                                        <th >Category</th>
                                                                        <th >Description</th>
                                                                        

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for i in feedback %}
                                                                    <tr>
                                                                        <td>{{ i.feedback_id }}</td>
                                                                        <td><a href="/detail/feedback/information/{{ i.feedback_id }}">{{ i.customer_name }}</a></td>
                                                                        <td>{{ i.email }}</td>
                                                                        <td>{{ i.contact }}</td>
                                                                        <td>{{ i.sample_letter }}</td>
                                                                        <td>
                                                                        {% for j in i.customer_name.categories.all %}
                                                                             {{ j }},
                                                                        {%endfor%}
                                                                        </td>
                                                                        <td>{{ i.description }}</td>
                                                                        

                                                                    </tr>
                                                                    {% endfor %}

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Leads table area End-->
                            </div>
                        </div>
                    </div>





                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- accordion End-->
{% endblock %}