{% extends 'base.html' %} {% load staticfiles %} {% load widget_tweaks %} {% block content %}
<!-- Header top area end-->
<!-- Breadcome start-->
<div class="breadcome-area mg-b-30 small-dn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right">
                            <ul class="breadcome-menu">
                                <li>Dashboard <span class="bread-slash">/</span>
                                </li>
                                <li><span class="bread-blod">Customers</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcome End-->
<!-- Breadcome start-->
<div class="breadcome-area des-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <ul class="breadcome-menu">
                                <li><a href="/sales/profile">Dashboard</a> <span class="bread-slash">/</span>
                                </li>
                                <li><span class="bread-blod">Customers</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcome End-->
<!-- Data table area Start-->
<div class="admin-dashone-data-table-area">
    <div class="container-fluid">
        <div class="col-lg-12">
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline8-list shadow-reset">

                    <div class="sparkline8-hd">
                        <div class="main-sparkline8-hd">
                            <div class="row">
                                <div class=" col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                    <h1>Customer<span class="table-project-n"> List</span></h1>
                                </div>
                                <div class=" col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                    <a href="/add/lead" class="btn btn-info pull-right">
                                        <div>
                                            <span class="glyphicon glyphicon-plus"></span> Add Customers </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline8-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                data-cookie-id-table="saveId" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="id">ID</th>
                                        <th data-field="name" data-editable="false">Company Name</th>
                                        <th data-field="first" data-editable="false">Contact Name</th>
                                        <th>Status</th>
                                        <th data-field="contact" data-editable="false">Contact</th>
                                        <th data-field="source" data-editable="false">Source</th>
                                        <th data-field="email" data-editable="false">Email</th>
                                        <th data-field="designation" data-editable="false">Designation</th>
                                        <th data-field="factory" data-editable="false">Factory Address</th>
                                        <th data-field="phone" data-editable="false">Landline</th>
                                        <th data-field="gst" data-editable="false">GST NO.</th>
                                        <th data-field="currency">Currency</th>
                                        <th data-field="statuatory">Attachments</th>
                                        <th >Edit Customer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in lead %}
                                    <tr>
                                        <td>{{ i.lead_id }}</td>
                                        {% if i.lead_company %}
                                        <td>{{ i.lead_company }}</td>
                                        
                                        {% else %}
                                        <td>No Name</td>
                                        {% endif %}
                                        <td><a href="/detail/customer/information/{{ i.lead_id }}">{{ i.lead_name }}</a></td>
                                        <td>{{ i.status }}</td>
                                        <td> {{ i.phone }}</td>
                                        <td>{{ i.source }}</td>
                                        <td>{{ i.email }}</td>
                                        <td>{{ i.designation }}</td>
                                        <td>{{ i.address }}</td>
                                        <td>{{ i.land_line }}</td>
                                        <td>{{ i.gst_number }}</td>
                                        <td>{{ i.currency_code }}</td>
                                        {% if i.attachment %}
                                        <td>{{ i.attachment }}<br>{{ i.attachment1 }}<br>{{ i.attachment2 }}</td>
                                        {% else %}
                                        <td>File Not Present</td>
                                        {% endif %}
                                        <td>
                                        <a type="button" href="/edit/lead/{{i.lead_id}}" class="glyphicon glyphicon-edit btn-info" aria-hidden="true" style="border-radius: 40%"></a>
                                    </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data table area End-->

{% endblock %}