{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'assets/img/favicon.png' %}">
    <title>Product List-Amar Bio Organics Pvt. Ltd.</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets1/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="{% static 'assets1/css/style.css' %}" rel="stylesheet">
</head>

<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header " style="height: 80px">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
                <a class="navbar-brand" href="#page-top"><img src="{% static 'assets1/images/amar.png' %}" alt="Amar Bio Organics"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="" href="#about">About</a>
                    </li>
                    <li>
                        <a class="" href="#portfolio">Products</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-justify">
                    <div class="section-title">
                        <h2>Our Products</h2>
                        <p>We offer unique and cutting-edge flavours that are used in food, chocolate, dairy and confectionary. With the blending of various kinds of raw materials, flavours are formulated to create great taste in the items we take.<br> We
                            offer flavours that are made naturally with the fruits and vegetables. Flavour Manufacture in India is growing to a large extent due to the extended demand for the last five years. By adding our flavours to the items will make
                            them distinct and unique in their taste. These are available in types like sweet, sour and bitter.</p>
                    </div>
                </div>
            </div>
            <div class="row row-0-gutter">
                <!-- start portfolio item -->
                <div class="col-md-6 col-0-gutter">
                    <div class="ot-portfolio-item">
                        <figure class="effect-bubba">
                            <img src="{% static 'assets1/images/demo/portfolio-1.png' %}" alt="img02" class="img-responsive" />
                            <figcaption>
                                <h2>Alcoholic Beverages</h2>
                                <p>Order Now</p>
                                <a href="/select/order">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <!-- end portfolio item -->
                <!-- start portfolio item -->
                <div class="col-md-6 col-0-gutter">
                    <div class="ot-portfolio-item">
                        <figure class="effect-bubba">
                            <img src="{% static 'assets1/images/demo/portfolio-2.jpg' %}" alt="img02" class="img-responsive" />
                            <figcaption>
                                <h2>Chocolates & Ice-Creams</h2>
                                <p>Order Now</p>
                                <a href="/select/order">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <!-- end portfolio item -->
            </div>
            <div class="row row-0-gutter">
                <!-- start portfolio item -->
                <div class="col-md-6 col-0-gutter">
                    <div class="ot-portfolio-item">
                        <figure class="effect-bubba">
                            <img src="{% static 'assets1/images/demo/portfolio-3.jpg' %}" alt="img02" class="img-responsive" />
                            <figcaption>
                                <h2>Diary</h2>
                                <p>Order Now</p>
                                <a href="/select/order">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <!-- end portfolio item -->
                <!-- start portfolio item -->
                <div class="col-md-6 col-0-gutter">
                    <div class="ot-portfolio-item">
                        <figure class="effect-bubba">
                            <img src="{% static 'assets1/images/demo/portfolio-4.jpg' %}" alt="img02" class="img-responsive" />
                            <figcaption>
                                <h2>Confectionery</h2>
                                <p>Order Now</p>
                                <a href="/select/order">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <!-- end portfolio item -->
            </div>
        </div>
        <!-- container -->
    </section>

    <section id="about" class="mz-module">
        <div class="container light-bg">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <u><h2>ABOUT Natural Flavours</h2>:</u>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-justify">
                    <div class="mz-about-container">
                        <p>
                            <ul>
                                <li>Original in Taste Fully Purified No Side Effects Cost Effective Most of our clients prefer these products for good income. And we also give support to our clients in many ways.</li>
                                <li>Our development teams continuously work on various flavours in order to come up with a new and distinct kind of flavours.</li>
                                <li>People primarily choose our brand for quality products of Flavour Manufacture in India.</li>
                                <li>Our forte is in creating ecstatic flavors are about finest quality, cost efficient solutions and sound products.</li>
                            </ul>
                        </p><br>
                        <p>Most of our clients prefer these products for good income. And we also give support to our clients in many ways. Our development teams continuously work on various flavours in order to come up with a new and distinct kind of flavours.

                            <br>People primarily choose our brand for quality products of Flavour Manufacture in India.
                        </p><br>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- skill bar item -->
                    <img src="{% static 'assets1/images/conf.jpg' %}" style="height: 90%; align-self:center ;width: 99%;" />
                    <!-- skill bar item -->
                    <!-- skill bar item -->
                    <!-- skill bar item -->
                </div>
            </div><br>
        </div>
        <!-- /.container -->
    </section>
    <p id="back-top ">
        <a href="#top "><i class="fa fa-angle-up "></i></a>
    </p>
    <footer>
        <div class="container text-center ">
            <p>© Copyright 2019. <a href="http://www.amarorganics.com/">Amar Bio-Organics</a> India Private Limited</p>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript
			================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js "></script>
    <script src="{% static 'assets1/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets1/js/theme-scripts.js' %}"></script>
</body>

</html>