{% extends 'base2.html' %} {% load staticfiles %} {% load widget_tweaks %} {% block content %}
<!-- Header top area end-->
<!-- Breadcome start-->
<div class="breadcome-area mg-b-30 small-dn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right">
                            <ul class="breadcome-menu">
                                <li><a href="Profile.html">Profile</a> <span class="bread-slash">/</span>
                                </li>
                                <li><span class="bread-blod">Edit Profile</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcome End-->
<!-- Breadcome start-->
<div class="breadcome-area des-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
                            <ul class="breadcome-menu">
                                <li><a href="profile.html">Profile</a> <span class="bread-slash">/</span>
                                </li>
                                <li><span class="bread-blod">Edit Profile</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcome End-->
<!-- Basic Form Start -->
<div class="basic-form-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline12-list shadow-reset mg-t-30">
                    <div class="sparkline12-hd">
                        <div class="main-sparkline12-hd">
                            <h1>EDIT PROFILE</h1>
                            <div class="sparkline12-outline-icon">
                                
                                <!-- <span><i class="fa fa-wrench"></i></span> -->
                                
                            </div>
                        </div>
                    </div>
                    <div class="sparkline12-graph">
                        <div class="basic-login-form-ad">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="all-form-element-inner">
                                        <form method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                                        <label class="">First Name<span style="color:  #b30000">*</span></label>
                                                        <!-- <input type="text" name="first_name" class="form-control" required/> -->
                                                        {{ user_form.first_name|add_class:"form-control" }} {{ user_form.first_name.errors }}

                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                                        <label class="">Last Name<span style="color:  #b30000">*</span></label>
                                                        <!-- <input type="text" name="last_name" class="form-control" required/> -->
                                                        {{ user_form.last_name|add_class:"form-control" }} {{ user_form.last_name.errors }}
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                                        <label class="">Date of Birth<span style="color:  #b30000">*</span></label>
                                                        <!-- <input type="Date" name="dob" class="form-control" required/> -->
                                                        {{ profile_form.DOB|add_class:"form-control" }} {{ profile_form.DOB.errors }}
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Contacts<span style="color:  #b30000">*</span></label>
                                                            <!-- <input type="tel" name="contact" pattern="[0-9]{3}[0-9]{7}" class="form-control" placeholder="9xxxxxxxxx" required/> -->
                                                            {{ profile_form.user_phone|add_class:"form-control"}} {{ profile_form.user_phone.errors }}
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                        <label class="">About You</label>
                                                        <!-- <textarea rows="3" cols="40" name="about" class="form-control">
                                                            </textarea> -->
                                                        {{ profile_form.about|add_class:"form-control"|attr:"rows:2"|attr:"cols:40" }}
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                    <label class="">Upload Pic<span style="color:  #b30000">*</span></label>
                                                    <!-- <div class="file-upload-inner file-upload-inner-right ts-forms"> -->
                                                    {{ profile_form.user_photo|add_class:"form-control b2" }} {{ profile_form.user_photo.errors }}

                                                    <!--  </div> -->
                                                </div>
                                                </div>
                                            </div>
                                            <div class="sparkline12-hd">
                                                <div class="main-sparkline12-hd">
                                                    <h1>Email Setting</h1>
                                                    <div class="sparkline12-outline-icon">
                                                        
                                                        <!-- <span><i class="fa fa-wrench"></i></span> -->
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            
                                                <div class="row" style="margin-top: 40px">
                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Email<span style="color:  #b30000">*</span></label>
                                                            <!-- <input type="text" name="designation" class="form-control" placeholder="Business Development Executive" required> -->
                                                            {{ profile_form.email|add_class:"form-control"|attr:"id:email1" }} {{ profile_form.email.errors }}
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                        <label class="">Password</label>
                                                        <!-- <textarea rows="3" cols="40" name="about" class="form-control">
                                                            </textarea> -->
                                                        {{ profile_form.password|add_class:"form-control"|attr:"rows:2"|attr:"cols:40"|attr:"id:pass1" }}
                                                    </div>

                                            </div>
                                            <div class="form-group-inner">
                                                <div class="login-btn-inner">
                                                    <div class="column">
                                                        <div class="col-lg-3"></div>
                                                        <div class="col-lg-9">
                                                            <div class="login-horizental cancel-wp pull-right">
                                                                <a href="/sales/profile/"><button class="btn btn-warning" type="button">Go Back</button></a>
                                                                <button class="btn btn-white" type="button">Cancel</button>
                                                                <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Save Change</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}